<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--//jQuery load 加载评论-->
<!-- 商品明细页面(detail)推荐：畅销产品[畅销的商品] jquery load 加载的模板 -->
<p class="title_block">畅销产品</p>
<div class="block_content">
    <div class="owl-carousel owl-best-sell" data-loop="true" data-nav="false" data-margin="0" data-autoplayTimeout="1000" data-autoplay="true" data-autoplayHoverPause="true" data-items="1">
        <ul class="products-block best-sell">
            <li th:each="product,eachState:${products}" th:if="${eachState.count le 3}">
                <div class="products-block-left">
                    <a th:href="@{/product/detail(productId=${product.id},skuId=${product.skus[0].id})}">
                        <img th:src="${#image.getImage(product.imgs[0].imgUrl,0)}" src="/images/product-100x122.jpg">
                    </a>
                </div>
                <div class="products-block-right">
                    <p class="product-name">
                        <a th:href="@{/product/detail(productId=${product.id},skuId=${product.skus[0].id})}" th:text="${product.productName}">白色衬衣</a>
                    </p>
                    <p class="product-price" th:text="|￥${product.skus[0].skuPrice}|" >￥38,95</p>
                    <p class="product-star">
                        <i class="fa fa-star" th:if="${product.skus[0].skuRank%1 eq 0}"  th:each="skuRank:${#numbers.sequence(1, product.skus[0].skuRank)}"></i>
                        <i class="fa fa-star" th:unless="${product.skus[0].skuRank%1 eq 0}"  th:each="skuRank:${#numbers.sequence(1, product.skus[0].skuRank)}"></i>
                        <i class="fa" th:unless="${product.skus[0].skuRank%1 eq 0}"  th:classappend="${product.skus[0].skuRank%1 eq 0?'fa-star':'fa-star-half-o'}" ></i>
                    </p>
                </div>
            </li>
        </ul>
        <ul class="products-block best-sell">
            <li th:each="product,eachState:${products}" th:if="${eachState.count gt 3 and eachState.count le 6}">
                <div class="products-block-left">
                    <a th:href="@{/product/detail(productId=${product.id},skuId=${product.skus[0].id})}">
                        <img th:src="${#image.getImage(product.imgs[0].imgUrl,0)}" src="/images/product-100x122.jpg">
                    </a>
                </div>
                <div class="products-block-right">
                    <p class="product-name">
                        <a th:href="@{/product/detail(productId=${product.id},skuId=${product.skus[0].id})}" th:text="${product.productName}">白色衬衣</a>
                    </p>
                    <p class="product-price" th:text="|￥${product.skus[0].skuPrice}|" >￥38,95</p>
                    <p class="product-star">
                        <i class="fa fa-star" th:if="${product.skus[0].skuRank%1 eq 0}"  th:each="skuRank:${#numbers.sequence(1, product.skus[0].skuRank)}"></i>
                        <i class="fa fa-star" th:unless="${product.skus[0].skuRank%1 eq 0}"  th:each="skuRank:${#numbers.sequence(1, product.skus[0].skuRank)}"></i>
                        <i class="fa" th:unless="${product.skus[0].skuRank%1 eq 0}"  th:classappend="${product.skus[0].skuRank%1 eq 0?'fa-star':'fa-star-half-o'}" ></i>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
<!--水平切换插件-->
<script type="text/javascript" th:src="@{/js/theme-script.js}"></script>
</html>