<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--//jQuery load 加载评论-->
<!-- 商品明细页面(detail) 推荐：最新特惠[最近上架的新品]jquery load 加载的模板 -->
<p class="title_block">最新特惠</p>
<div class="block_content product-onsale">
    <ul class="product-list owl-carousel" data-loop="true" data-nav="false" data-margin="0" data-autoplayTimeout="1000" data-autoplayHoverPause="true" data-items="1" data-autoplay="true">
        <li th:each="product,eachState:${products}">
            <div class="product-container">
                <div class="left-block">
                    <a th:href="@{/product/detail(productId=${product.id},skuId=${product.skus[0].id})}">
                        <img class="img-responsive" src="/images/product-260x317.jpg" th:src="${#image.getImage(product.imgs[0].imgUrl,0)}"/>
                    </a>
                    <div class="price-percent-reduction2" th:text="|-${#numbers.formatDecimal(100-(product.skus[0].skuPrice/product.skus[0].skuMarketPrice)*100,2,2)}%|" >-30%</div>
                </div>
                <div class="right-block">
                    <h5 class="product-name"><a th:href="@{/product/detail(productId=${product.id},skuId=${product.skus[0].id})}" href="category.html" th:text="${product.productName}">白色衬衣</a></h5>
                    <div class="product-star">
                        <i class="fa fa-star" th:if="${product.skus[0].skuRank%1 eq 0}"  th:each="skuRank:${#numbers.sequence(1, product.skus[0].skuRank)}"></i>
                        <i class="fa fa-star" th:unless="${product.skus[0].skuRank%1 eq 0}"  th:each="skuRank:${#numbers.sequence(1, product.skus[0].skuRank)}"></i>
                        <i class="fa" th:unless="${product.skus[0].skuRank%1 eq 0}"  th:classappend="${product.skus[0].skuRank%1 eq 0?'fa-star':'fa-star-half-o'}" ></i>
                    </div>
                    <div class="content_price">
                        <span class="price product-price" th:text="|￥${product.skus[0].skuPrice}|">￥38,95</span>
                        <span class="price old-price" th:text="|￥${product.skus[0].skuMarketPrice}|">￥52,00</span>
                    </div>
                </div>
                <div class="product-bottom">
                    <a class="btn-add-cart" title="加入购物车" th:href="|javascript:addTrolley('${product.skus[0].id}')|">加入购物车</a>
                </div>
            </div>
        </li>
    </ul>
</div>
</body>
<!--水平切换插件-->
<script type="text/javascript" th:src="@{/js/theme-script.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</html>